<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.errors %}
        <p>There's something wrong with what you entered</p>
    {% endif %}

    {% if next %}
        <p>you can acces that page</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <p> username : {{ form.username }} </p>
        <p> password: {{ form.password }} </p>

        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>